* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1.2;
  font-size: 18px;
}

h1, h2 {
  text-align: center;
  margin-bottom: 15px;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 75%;
}

.weather-widget {
  padding-bottom: 50px;
  height: auto;
  width: 100%;
  background: #90AFC5;
  color: #E2E8E4;
  padding: 20px;
}
.weather-widget h3, .weather-widget h4, .weather-widget p {
  text-align: center;
}
.weather-widget__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  padding: 20px 0;
}
.weather-widget__content {
  max-width: 768px;
  margin: 0 auto;
  padding: 20px;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  background: #336B87;
}
.weather-widget__flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.weather-widget__item {
  width: 50%;
}